body { font-size: 108%; line-height: 140%; color: #333;  text-align: left;}
body h1 { font-size: 138.5%; font-weight: bold; margin: 1em 0em; color: #333; }
body p, ol, li{ margin: 1.4em 0em; }
body a { color: rgb(220,20,23); }