#content { width: 860px; margin: 1em auto; }

#inner-content img { border: 1px solid #999; margin-right: 40px;}
.second {padding-top: 41px;}
#main-image { width: 380px; border: 1px solid #999; margin-bottom: -1em;}*/