<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <title>{{ page.title }}</title>
  <link href="stylesheets/yui/reset-fonts-grids.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="stylesheets/simplicity-text.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="stylesheets/simplicity.css" media="screen" rel="Stylesheet" type="text/css">
  
  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid.delegate" href="http://gareth.townsend.myopenid.com">
  
  <link rel="alternate" type="application/rss+xml" title="GarethTownsend.info Feed" href="http://feeds.feedburner.com/garethtownsendinfo">
  <link rel="icon" href="http://www.garethtownsend.info/images/favicon.png">
</head>
<body>
  <div id="content">
    <div class="yui-g">
    	<div class="yui-u first">
    		<h1>Gareth Townsend</h1>
        <img src="images/gareth-townsend.jpg" alt="Caricature of Gareth Townsend, drawn by Nick Russo (http://dadsoldaxe.com/)" title="Caricature of Gareth Townsend, drawn by Nick Russo (http://dadsoldaxe.com/)" id="main-image">
    	</div>
    	<div class="yui-u second">
    	  {{ content }}
    	</div>
  </div>
</div>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-886994-1");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>
</body>