<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <title>{{ page.title }}</title>
  <link href="stylesheets/yui/reset-fonts-grids.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="stylesheets/simplicity-text.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="stylesheets/simplicity.css" media="screen" rel="Stylesheet" type="text/css">
  
  <meta name = "viewport" content = "width = device-width">
</head>
<body>
  <div id="content">
    <div class="yui-g">
    	<div class="yui-u first">
    		<h1>Gareth Townsend</h1>
        <img src="images/gareth-townsend.jpg" alt="Caricature of Gareth Townsend, drawn by Nick Russo (http://dadsoldaxe.com/)" title="Caricature of Gareth Townsend, drawn by Nick Russo (http://dadsoldaxe.com/)" id="main-image">
    	</div>
    	<div class="yui-u second">
    	  {{ content }}
    	</div>
  </div>
</div>
</body>