<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <title>{{ page.title }}</title>
  <link href="../../../stylesheets/yui/reset-fonts-grids.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="../../../stylesheets/simplicity-text.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="../../../stylesheets/simplicity.css" media="screen" rel="Stylesheet" type="text/css">
  
  <link rel="alternate" type="application/rss+xml" title="GarethTownsend.info Feed" href="http://feeds2.feedburner.com/garethtownsendinfo">
  
  <meta name = "viewport" content = "width = device-width">
</head>
<body>
  <div id="custom-doc">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</div>
</body>